<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- configuration is verbose as well -->
    <logger name="ch.qos" level="ERROR" additivity="false"/>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>